{% extends "website/index.html" %}

{% block title %}People{% endblock %}

{% block content %}
  {% load static %}
  {% load avatar_tags %}
  {% if page_obj %}
        <section class="px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
          <div class="row py-5 d-flex justify-content-center">
            <div class="col col-md-9 col-lg-7 col-xl-6">
                {% for user in page_obj %}
                  <div class="card mb-5" style="border-radius: 15px;">
                    <div class="card-body p-4">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          {% avatar user class="img-fluid" style="width: 180px; border-radius: 10px;" %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <a href="{% url 'users:profile' user.username %}"><h5 class="mb-1">{{ user.username }}</h5></a>
                          <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                            <div>
                              <p class="small text-muted mb-1">Cases</p>
                              <p class="mb-0">{{ user.cases_number }}</p>
                            </div>
                            <div class="px-3">
                              <p class="small text-muted mb-1">Opinions</p>
                              <p class="mb-0">{{ user.opinions_number }}</p>
                            </div>
                          </div>
                          <div class="d-flex pt-1">
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Follow</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              <div class="d-flex justify-content-center">
                  <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              </div>
              <div class="pagination d-flex justify-content-center">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                      {% endif %}

                      {% if page_obj.has_next %}
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                      {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </section>
    {% else %}
        <p>No users have registered yet.</p>
  {% endif %}
{% endblock %}