{% extends "website/index.html" %}

{% block title %}Case {{ case.id }}{% endblock %}

{% block content %}
  {% load static %}
  {% load crispy_forms_filters %}
  {% load crispy_forms_tags %}
  {% load avatar_tags %}

  <section style="background-color: #ad655f;">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-body">
            <div class="card-body p-4">
              <h4 class="mb-4">{{ case.case_title }}</h4>

              <div class="d-flex flex-start">
                {% if case.is_anonymous %}
                <img class="rounded-circle shadow-1-strong me-3"
                      src="{% static 'users/images/logo.png' %}" alt="avatar" width="80" height="80"/>
                <div>
                  <h6 class="fw-bold mb-1">Anonymous</h6>
                {% else %}
                  {% avatar case.creator 60 60 class="rounded-circle shadow-1-strong me-3" %}
                <div>
                  <a href="{% url 'users:profile' case.creator.username %}"><h6 class="fw-bold mb-1">{{ case.creator.username }}</h6></a>
                {% endif %}
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0">
                      {{ case.pub_date.date }}
                      {% for tag in case.tags.values %}
                      <span class="badge bg-primary">#{{ tag.tag_title }}</span>
                      {% endfor %}
                    </p>
                  </div>
                  <p class="mb-0">{{ case.case_text }}</p>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section style="background-color: #ad655f;">

    {% if opinions %}

    <div class="d-flex justify-content-center mt-5 pt-5">
      <h4 class="mb-4">Recent comments</h4>
    </div>

    {% for opinion in opinions %}

    <div class="container my-2 py-3">

          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
              <div class="card text-body">

                <div class="card-body p-4">

                  <div class="d-flex flex-start">
                    {% if opinion.is_anonymous %}
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="{% static 'users/images/logo.png' %}" alt="avatar" width="80" height="80"/>
                    <div>
                      <h6 class="fw-bold mb-1">Anonymous</h6>
                    {% else %}
                      {% avatar opinion.creator 60 60 class="rounded-circle shadow-1-strong me-3" %}
                    <div>
                      <a href="{% url 'users:profile' opinion.creator.username %}"><h6 class="fw-bold mb-1">{{ opinion.creator.username }}</h6></a>
                    {% endif %}
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          {{ opinion.pub_date.date }}
                        </p>
                      </div>
                      <p class="mb-0">{{ opinion.opinion_text }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

    {% if not same %}
    <div class="container p-4">
      <div class="card text-body p-4">

        {% if authenticated and form %}
          <h4 class="d-flex justify-content-center mb-4">Share your opinion</h4>
          {% crispy form %}
        {% else %}
        <h4 class="d-flex justify-content-center mb-4">You've already expressed your opinion!</h4>
        {% endif %}

      </div>
    </div>
    {% endif %}

    {% else %}

    <div class="container p-4">
      <div class="card text-body p-4">
        {% if authenticated and form %}
          <h4 class="d-flex justify-content-center mb-4">There are no opinions yet, be the first!</h4>
          {% crispy form %}
        {% else %}
          <h4 class="d-flex justify-content-center mb-4">There are no opinions yet,<a href="{% url 'users:signin' %}"> sign in </a>and be the first!</h4>
        {% endif %}
      </div>
    </div>

    {% endif %}

  </section>

{% endblock %}