{% extends "website/index.html" %}

{% block title %}Cases{% endblock %}

{% block content %}
{% load avatar_tags %}
{% if page_obj %}
    <section class="px-4 py-5" style="background-color: #5f59f7;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

          {% if my and authenticated %}
          <div class="pb-4">
              <form action="{% url 'cases:publish' %}" method="get" >
                {% csrf_token %}
                <button type="submit" class="btn btn-success rounded-pill px-3">New case</button>
              </form>
          </div>
          {% endif %}

          <div class="col col-xl-10">

            {% for case in page_obj %}

            <div class="card mb-5" style="border-radius: 15px;">
              <div class="card-body p-4">

                <div class="d-flex">
                  <a href="{% url 'cases:case' case.id %}"><h3 class="mb-3">{{ case.case_title }}</h3></a>

                  {% if my and authenticated %}
                  <form action="{% url 'cases:edit' case.id %}" method="get" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mx-3" aria-label="Close">Edit</button>
                  </form>
                  <form action="{% url 'cases:delete' case.id %}" method="post" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" aria-label="Close">Delete</button>
                  </form>
                  {% endif %}
                </div>

                <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span>
                  {% if not my %}
                  {% if case.is_anonymous %}
                  Created
                  <strong>anonymously</strong>
                  {% else %}
                  Created by <a href="{% url 'users:profile' case.creator.username %}"><strong>{{ case.creator.username }}</strong></a>
                  {% endif %}
                  {% else %}
                  Created
                  {% endif %}
                  on {{ case.pub_date.date }}</p>
                <hr class="my-4">
                <div class="d-flex justify-content-start align-items-center">
                  {% for tag in case.tags.values %}
                    <span class="badge bg-primary me-2">#{{ tag.tag_title }}</span>
                    {% endfor %}
                    <span class="ms-3 me-4">|</span></p>
                  {% for commentator in case.commentators %}
                    {% if not commentator.opinion.is_anonymous %}
                      <a href="{% url 'users:profile' commentator.opinion.creator.username %}">
                        {% avatar commentator.opinion.creator 35 35 class="img-fluid rounded-circle me-3" %}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            {% endfor %}
          <div class="d-flex justify-content-center">
                  <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              </div>
              <div class="pagination d-flex justify-content-center">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                      {% endif %}

                      {% if page_obj.has_next %}
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </section>

  {% else %}
    <section class="vh-100" style="background-color: #5f59f7;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

          {% if my and authenticated %}
          <div>
            <form action="{% url 'cases:publish' %}" method="get" >
              {% csrf_token %}
              <button type="submit" class="btn btn-success rounded-pill px-3">New case</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}