{% extends "website/index.html" %}

{% block title %}My opinions{% endblock %}

{% block content %}
  {% load static %}
  {% if page_obj %}
    <section class="vh-100" style="background-color: #5f59f7;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

          <div class="col col-xl-10">

            {% for opinion in page_obj %}

            <div class="card mb-5" style="border-radius: 15px;">
              <div class="card-body p-4">

                <div class="d-flex">
                  <a href="{% url 'cases:case' opinion.case.id %}"><h3 class="mb-3">{{ opinion.case.case_title }}</h3></a>
                </div>

                <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span>
                  {% if opinion.case.is_anonymous %}
                  Created <strong>anonymously</strong>
                  {% else %}
                  Created by <a href="{% url 'users:profile' opinion.case.creator.username %}"><strong>{{ opinion.case.creator.username }}</strong></a>
                  {% endif %}
                  on {{ opinion.opinion.pub_date.date }}</p>
                <hr class="my-4">
                <div class="d-flex justify-content-start align-items-center">
                  {% for tag in opinion.case.tags.values %}
                    <span class="badge bg-primary me-2">#{{ tag.tag_title }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>

            {% endfor %}
            <div class="d-flex justify-content-center">
                  <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              </div>
              <div class="pagination d-flex justify-content-center">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                      {% endif %}

                      {% if page_obj.has_next %}
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>

          </div>
        </div>
      </div>
    </section>

  {% else %}
    <section class="vh-100" style="background-color: #5f59f7;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

          <p>You don't have any opinions yet!</p>

        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}